@import url(base/_variables.css);
@import url(base/_reset.css);
@import url(base/_base.css);

@import url(layout/_layout.css);
@import url(components/_buttons.css);
@import url(components/_cards.css);
@import url(layout/_grid.css);
@import url(components/_tags.css);
@import url(components/_carousel.css);
@import url(components/_social.css);
@import url(components/_details.css);
@import url(layout/_header.css);
@import url(sections/_hero.css);
@import url(sections/_university.css);
@import url(sections/_systems.css);
@import url(sections/_contact.css);
@import url(layout/_footer.css);

@import url(layout/_responsive.css);
