html {
  scroll-behavior: smooth;
}

/* Configuração de base para fontes e textos */
body {
  font-family: "poppins";
  text-decoration: none;
  color: #fff;
  background-color: #191919;
  font-weight: 400;
}
