html {
  scroll-behavior: smooth;
}

/* base fontes e textos */
body {
  font-family: var(--font-main);
  text-decoration: none;
  color: var(--text-light);
  background-color: var(--bg-dark);
  font-weight: 400;
}
