.header {
  padding: 20px 50px;
}
.header__logo {
  font-size: 30px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
