.header {
  padding: 20px 50px;
}
.header__logo {
  font-size: 30px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__nav-item {
  color: var(--text-light);
  cursor: pointer;
  transition: color 0.3s ease;
}

.header__nav-item:hover {
  color: var(--primary-color);
}
