.project {
  margin: 50px 0px;
}
.projects {
  padding: 100px 20px;
}
.section__title {
  text-align: center;
  font-size: 54px;
  text-transform: uppercase;
  color: var(--text-light);
}
.project__grid {
  display: grid;
  grid-template-columns: repeat(2, 550px);
  place-content: center;
  gap: 25px;
  margin: 0;
  text-align: end;
}

.project:nth-child(odd) .project__grid {
  direction: rtl;
}

.project__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  height: 100%;
}
.project__subtitle {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  font-size: 14px;
}
.project__description {
  line-height: 1.5;
  margin-top: 10px;
}
.project__link {
  display: block;
  overflow: hidden;
}
