.btn {
  background-color: #00fedf;
  border: none;
  color: #191919;
  padding: 10px 42px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.5s ease;
}
.btn:hover {
  background-color: #03e3c9;
}
