.detail {
  color: #00fedf;
}
.inline-detail {
  display: block;
}
.inline-detail-title {
  display: block;
  font-size: 150px;
}
.inline-detail-subtitle {
  font-size: 60px;
}

.line-detail {
  width: 80%;
  border-bottom: 4px solid #475467;
  margin: 50px auto;
}
